<h1>Hello World!</h1>

- @articles.each do |article|
  %h2=article.title
  %p
  Published at
  = article.created_at.strftime('%b %d,%Y')
  %p= truncate(article.content,length: 10)

= link_to "New Article", new_article_path